.profile_main{
    padding-top: 100px;
}

.profile_inner{
    width: 1200px;
    max-width: 100%;
    padding: 150px 50px 0 50px;
    margin: auto;
}

.profile_header{
    text-align: center;
}

.profile_content{
    width: 100%;
    display: flex;
}

.user_info{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.user_info_title{
    text-align: center;
}

.user_posts{
    width: 350px;
    max-width: 90%;
}

.last_posts_content{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user_posts_header{
    text-align: center;
}

.last_post_single{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.last_post_single{
    display: flex;
    gap: 100px;
}